<html style="-moz-user-select: none;" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>


<meta charset="utf-8"><title>User Page</title><meta name="viewport" content="width=device-width, initial-scale=1.0"><meta name="description" content=""><meta name="author" content="">

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>


 <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

<script>
$(function() {
	$( "#accordion" ).accordion();
});
</script>

</head>

<body class="">
  <div class="navbar navbar-inverse navbar-static-top">
    <style>
      .body{padding-top:70px}
    </style>
   <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-left navbar-nav">
                
                  <li class="inactive"> <a href="#">About</a>

                  </li>
                  <li class="inactive"> <a href="#">Contact Us</a>

                  </li>
                </ul> <!--<a type="button" id="signin" class="btn btn-lg btn-primary navbar-btn navbar-right"
                href="##">Login</a>-->

                <ul class="nav navbar-right navbar-nav">
                <li class="inactive"> <a href="http://127.0.0.1:8000/dashboard">Dashboard</a></li>
                  <li class="inactive"> <a href="#">Course</a></li>
                   <li class="active"> <a href="http://127.0.0.1:8000/courseContentSelection">Course Content Selection</a></li>
               
                  <li class="inactive"> <a href="#">Help</a></li>
                  <li class="inactive"> 
                    <div class="btn-group btn-lg navbar-right">
                      <button type="button" class="btn btn-primary">My Profile</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Course settings</a></li>
                        <li class="divider"></li>
                        <li><a id="logout" href="http://127.0.0.1:8000/logout/">Log Out</a></li>
                      </ul>
                  </div>
                  </li>
                </ul>
              

              
                
              </div>

      </div>
  </div>
  
  <div class="container">
  	<div class="row">
  	<div class="well well-sm">
        <h1 class="text-primary"><center>Select your content!</center></h1>
    </div>
    </div>
  	
	 <div  class="row">  
	 <div class="col-md-3">
	    <div class="Well"> 
	    <ul class="nav nav-tabs nav-stacked">
  			<li class="active"><a>CAT1</a></li>
		    <li><a href="#">sub2</a></li>
  			<li><a href="#">sub3</a></li>
  			<li><a href="#">sub4</a></li>
  		</ul>	    
		</div>	 
		<div class="well"> 
	    <ul class="nav nav-tabs nav-stacked">
  			<li class="active">CAT5</li>
  			<li><a href="#">sub6</a></li>
  			<li><a href="#">sub7</a></li>
  			<li><a href="#">sub8</a></li>
  			<li><a href="#">sub9</a></li>
  		</ul>	    
		</div>
  		<div class="well"> 
	    <ul class="nav nav-tabs nav-stacked">
  			<li><a href="#">sub10</a></li>
			<li><a href="#">sub11</a></li>
			<li><a href="#">sub12</a></li>
			<li><a href="#">sub13</a></li>
			<li><a href="#">sub14</a></li>
		</ul>	    
		</div>
		<div class="well"> 
	    <ul class="nav nav-tabs nav-stacked">
			<li><a href="#">sub15</a></li>
			<li><a href="#">sub16</a></li>
			<li><a href="#">sub17</a></li>
			<li><a href="#">sub18</a></li>
			<li><a href="#">sub19</a></li>
		</ul>
	    </div>	     
	</div>
      
      <div class="col col-md-9">
        <ul class="nav nav-tabs" id="myTab">
		   <li  class="active" id="tb_wesuggest"><a href="#wesuggest" data-toggle="tab">We Suggest</a></li>
		  <li id="tb_mostviewed"><a href="#mostviewed" data-toggle="tab">Most Viewed</a></li>
		  <li id="tb_mostrated"><a href="#mostrated" data-toggle="tab">Best Rated</a></li>
          <li id="tb_viewall"><a href="#viewall" data-toggle="tab">View All</a></li>

		</ul>
        <br/>
        <div class="tab-content">
        

		  	<div class="tab-pane" id="viewall"> 
				<p> viewall </p>

			</div>
	  		
	  		<div class="tab-pane" id="mostviewed">
	  			<p>Loading...</p>
			</div>
		  	
		  	<div class="tab-pane" id="mostrated">
				<p> Loading...</p>
			</div>
		  	

		  	<div class="tab-pane active" id="wesuggest">
		  		{% load docc_tag %}
		  		{% for i in data%}
		  		
		  		
		  		
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://news.sudanvisiondaily.com/images/pdf-icon.png" alt="...">
                            <div class="caption">
                                <center>
                                    <h3>{{i.Name}}</h3>
                                    <h4>professor: {{i.prof_username}}</h4>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#{{i | mongo_id}}">View</button>
                                </center>
                            </div>
                            </div>
                </div>
                
                
                <div class="modal fade" id="{{i | mongo_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"> <center> {{i.Name}} </center></h4>
                                
                            </div>
                            <div class="modal-body">
                                <h4> Course Name: {{i.Name}} </h4>
                                <h4> professor: {{i.prof_username}} </h4> <a> View Profile</a>
                                <p>  Course Description: {{i.Description}}<p>
                                <p>  Type: {{i.Type}} </p>
                                <p> Id: {{i | mongo_id}}</p>
                                <p>  Sub Category: {{i.sub_category}}</p>
                                
                                
                            </div>
                            <script>
                                function added_to_cart()
                                {
                                    alert("Course added to your cart!");
                                }
                            </script>
                            <div class="modal-footer">
                                <form id="addToCart" method="GET" action="http://127.0.0.1:8000/addToCart/">
                                    <button type="submit" class="btn btn-primary" name="courseId" id="courseId" value="{{i | mongo_id}}" >Add to your cart - {{i | mongo_id}} </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
{%endfor%}
			</div>
		</div>
    </div>
  </div>
  
  <ul class="pager">
  	<li><a href="#">Previous</a></li>
  	<li><a href="#">Next</a></li>
	</ul>
	
 </div> 
  
 <!-- Start templates -->
<script id="recordTemplate" type="tuts/template">
    
    
    
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://news.sudanvisiondaily.com/images/pdf-icon.png" alt="...">
            <div class="caption">
                <center>
                <h3>{content_name}</h3>
                <h4>professor: {professor_name}</h4>
                <button class="btn btn-primary" data-toggle="modal" data-target="#{id}">View</button>
                </center>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="{id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel"> <center> {content_name} </center></h4>
   
    </div>
    <div class="modal-body">
    <h4> Course Name: {content_name} </h4>
    <h4> professor: {professor_name} </h4> <a> View Profile</a>
    <p>  Course Description: {Description}<p>
    <p>  Type: {Type} </p>
    <p> Id: {id}</p>
    <p>  Sub Category: {sub_category}</p>
    
    
	</div>
    
    <div class="modal-footer">
    <form id="addToCart" method="GET" action="http://127.0.0.1:8000/addToCart/">
    <button type="submit" class="btn btn-primary" name="courseId" id="courseId" value="{id}">Add to your cart - {id} </button>
    </form>
    </div>
    </div>
    </div>
    </div>

</script>

<!--
 Richil's code: Panels for dispalying content
 
 <div class="panel-group" id="accordion">
 <div class="panel panel-primary">
 <div class="panel-heading">
 <h4 class="panel-title">
 <a data-toggle="collapse" data-parent="#accordion" href="#collapse{index}">
 Content Name: {content_name}
 </a>
 </h4>
 </div>
 <div id="collapse{index}" class="panel-collapse collapse">
 <div class="panel-body">
 Provided by: {professor_name}
 </div>
 </div>
 </div>
 </div>
 -->
 <!-- End of templates -->
 
 <!--  Start Ajax calls -->
	<script>
	(function() {
		$('#tb_mostviewed').on('click', function(e){
			
			$.getJSON('/mostViewed/', function( data ) {
				
				frag='';
				$.each( data, function( index, line ) {
					if (index==500)
						return false;
					var template = $.trim( $('#recordTemplate').html());
					
					frag += template.replace( /{content_name}/ig, line.Name)
					        		.replace( /{professor_name}/ig, line.prof_username)
                                    .replace( /{Description}/ig, line.Description)
                                    .replace( /{Rating}/ig, line.Rating)
                                    .replace( /{Type}/ig, line.Type)
                                    .replace( /{sub_category}/ig, line.sub_category)
                                    .replace( /{id}/ig, line._id)
					        		.replace( /{index}/ig, index)
					
				});	
				console.log(frag);
				$('#mostviewed').html(frag);
					
				
			});
			
		});
		
     $('#tb_viewall').on('click', function(e){
                            
                            $.getJSON('/viewAll/', function( data ) {
                                      
                                      frag='';
                                      $.each( data, function( index, line ) {
                                             if (index==12)
                                             return false;
                                             var template = $.trim( $('#recordTemplate').html());
                                             
                                             frag += template.replace( /{content_name}/ig, line.Name)
                                             .replace( /{professor_name}/ig, line.prof_username)
                                             .replace( /{Description}/ig, line.Description)
                                             .replace( /{Rating}/ig, line.Rating)
                                             .replace( /{Type}/ig, line.Type)
                                             .replace( /{sub_category}/ig, line.sub_category)
                                             .replace( /{id}/ig, line._id)
                                             .replace( /{index}/ig, index)
                                             
                                             });	
                                      console.log(frag);
                                      $('#viewall').html(frag);
                                      
                                      
                                      });
                            
                            });
     
     
		$('#tb_mostrated').on('click', function(e){
			
			$.getJSON('/mostRated/', function( data ) {
				
				frag='';
				$.each( data, function( index, line ) {
					if (index==12)
						return false;
					var template = $.trim( $('#recordTemplate').html());
					
					frag += template.replace( /{content_name}/ig, line.Name)
					        		.replace( /{professor_name}/ig, line.prof_username)
					        		.replace( /{index}/ig, index)
					
					
				});
				console.log(frag);
				$('#mostrated').html(frag);
			});
			
		});
		
		$('#tb_wesuggest').on('click', function(e){
			
			$.getJSON('/courseContentSelection/', function( data ) {
				
				frag='';
				$.each( data, function( index, line ) {
					if (index==5)
						return false;
					var template = $.trim( $('#recordTemplate').html());
					
					frag += template.replace( /{content_name}/ig, line.Name)
					        		.replace( /{professor_name}/ig, line.prof_username)
					        		.replace( /{index}/ig, index)
					
					
				});
				console.log(frag);
				$('#mostrated').html(frag);
			});
			
		});
		
	})();
	
	 
 
	</script>
</body>
