<!DOCTYPE html>
<html style="" class="" xmlns="http://www.w3.org/1999/xhtml" lang="en">
    
    <head>
        <meta charset="utf-8">
            <title>DOCC Home Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta name="description" content="">
                    <meta name="author" content="">
                        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
                            rel="stylesheet" type="text/css">
                            <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
                            <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
                            <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
                            <link href="https://rawgithub.com/roopakpatil123/doccapp/master/mysite/mysite/templates/dashboard.css"
                                rel="stylesheet" type="text/css">
                                
                                
                                
                                </head>
    
    <body class="">
        <p> Your content is diplayed below: {{data.fileName}} </p>
        
        
        <iFrame height="800" width="800" src="http://127.0.0.1:8000/media/{{data.fileName}}"> </iFrame>
       <!-- <img height="800" width="800" src="http://127.0.0.1:8000/media/pic.jpg">
        <video width="320" height="240" controls>
            <source src="http://127.0.0.1:8000/media/a.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
        </video>
        -->
    </body>
    
</html>