<!DOCTYPE html>
<html style="" class="" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>DOCC Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
        
        
        <!-- CDNs -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
    
    <link href="https://rawgithub.com/roopakpatil123/doccapp/master/mysite/mysite/templates/progressbar.css" rel="stylesheet" type="text/css">



{% load staticfiles%}
<link href="{%static "dashboard.css"%}" rel="stylesheet" type="text/css">



<!-- Static files

    <link href="{%static "bootstrap-3.1.1-dist/css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
        
        <script src="{%static "bootstrap-3.1.1-dist/js/bootstrap.min.js"%}" type="text/javascript"></script>
        <script src="{%static "bootstrap-3.1.1-dist/js/bootstrap.js"%}" type="text/javascript"></script>
        <script src="{%static "jquery-2.1.0.js"%}" type="text/javascript"></script>
        <script src="{%static "bootbox.min.js"%}" type="text/javascript"></script>
         -->
  </head>
  
  <body class="" style="background-color:rgb(137, 139, 137);" >
    
      
      <!-- Navigation bar code: copy paste the script and the navigation div and the br-->
    <script>
          $(function() {
            $("#navigation").load("/nav");
            $("#dashboard").addClass('active');
            }); 
    </script>
   <div id="navigation">
   </div>

<br>
<br>
<br>
<br>

<!-- Copy till here for navigation bar-->


  <div class = "container">
    <div class="row">
        <div class="span3">
        <div class="col-sm-4 col-md-3 user-details">
  		<br>
            <div class="user-image">
                <img src="http://en.opensuse.org/images/0/0b/Icon-user.png" height=150 width=140 alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle" >
            </div>
            
            <div class="user-info-block" style="box-shadow: -1px 1px 12px #000000; top:135px; border-radius:5px;">
                <div class="user-heading">
                    <h4>{{user.firstname}} {{user.lastname}}</h4>
                    <span class="help-block">{{user.email}}</span>
                </div>
                <ul class="navigation">
                    <li class="active">
                        <a data-toggle="tab" href="#information">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#settings">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                   
                </ul>
                <div class="user-body">
                    <div class="tab-content">
                        <div id="information" class="tab-pane active">
                            <h4>Account Information</h4>
                            <ul class="list-group">
							  <li class="list-group-item">Name: {{user.firstname}} {{user.lastname}} </li>
							  <li class="list-group-item"> School: {{user.organization}}</li>
							  
							</ul>
							<br>
            	
                        </div>
                        <br>
                        <br>
                        <div id="settings" class="tab-pane">
                            <h4>Settings</h4>
                            <a href="/editProfile"> Update your settings</a>
                        </div>
                    
                        <div id="events" class="tab-pane">
                            <h4>Events</h4>
                            <ul class="list-group">
							  <li class="list-group-item">1. <a> Online Study Group - Mon, 03/23/2014</a> </li>
							  
							  
							</ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        </div>
        <div class="span2">
        
        </div>
        <div class="span9">
            <div class="col-md-9">
                <div class="well" style="background-color: #FFFFFF; box-shadow: -1px 1px 12px #000000; " >
                    <h2 class="text-primary">
                    <center> Dashboard
                    </center></h2>
                    <!--
                        {%load docc_tag%}
                    </center></h2>
                    <p>
                    Content Completed Info<br>
                    total user completed: {{user.contentCompleted}}<br>
                    {%for i in user.contentCompleted%}
                    in in: {{i}}<br>
                        sub cat: {{i.sub_category}}<br>
                        contentid: {{i.ContentId}}<br>
                        content compeleted percentage: {{i.ContentCompletedPercentage}}<br>
                    <br>
                    <br>
                    
                    {%endfor%}
                     -->
                    </p>
                </div>
                <div class="panel panel-default" style="box-shadow: -1px 1px 12px #000000;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </div>
                                    <div class="text" id="{{subCatPercentage.CourseCompletedPercentage}}progress">
                                        <var >{{subCatPercentage.CourseCompletedPercentage}}%</var>
                                        <label id= "{{subCatPercentage.CourseCompletedPercentage}}progress" class="text-muted">Course Progress </label>
                                    </div>
                                    <div class="options">
                                        <a id="{{subCatPercentage.CourseCompletedPercentage}}progress" href="/courseDisplay/?contentId={{user.currentContent}}" class="btn btn-default "><i class="glyphicon glyphicon-plus"></i> Continue ({{subCatPercentage.CourseCompletedPercentage}}%)</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-star"></i>
                                    </div>
                                    <div class="text">
                                        <var>{{user.StarsAchieved|floatformat:"0"}}</var>
                                        <label class="text-muted">Stars</label>
                                    </div>
                                    <div class="options">
                                        <a class="btn btn-default " data-toggle="modal" data-target="#myModal" ><i class="glyphicon glyphicon-search"></i> Ranking List</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Ranking List</h4>
                                        </div>
                                        <div class="modal-body">
                                           <div class="row">
                                           <div class="col col-md-1"></div>
                                           <div class="col col-md-9">
                                               <ul class="list-group">
                                                   <li class="list-group-item list-group-item">
                                                       <div class="row">
                                                           
                                                           <div class="col col-md-1">
                                                                <center> Rank</center>
                                                           </div>
                                                           <div class="col col-md-9">
                                                               <center> User</center>
                                                           </div>
                                                           <div class="col col-md-1">
                                                                <center> Stars</center>
                                                           </div>
                                                       </div>
                                                   </li>
                                            {%for i in rankedUsers%}
                                            
                                            
                                            <li class="list-group-item list-group-item-warning">
                                                <div class="row">
                                                    
                                                <div class="col col-md-1">
                                                    <span class="badge">{{i.Rank}}</span>
                                                </div>
                                                <div class="col col-md-9">
                                                    <center> {{i.username}}</center>
                                                </div>
                                                <div class="col col-md-1">
                                                    <span class="badge">{{i.StarsAchieved}}</span>
                                                </div>
                                                </div>
                                            </li>
                                            
                                            
                                            {%endfor%}
                                            </ul>
                                            </div>
                                           
                                           </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <script>
                                $()
                                </script>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-tags"></i>
                                    </div>
                                    <div class="text">
                                        <var>{{user.TotalCount}}</var>
                                        <label class="text-muted">Content</label>
                                    </div>
                                    <div class="options">
                                        <a href="/courseContentSelection" class="btn btn-default "><i class="glyphicon glyphicon-search"></i> View Content</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="hero-widget well well-sm">
                                    <div class="icon">
                                        <i class="glyphicon glyphicon-cog"></i>
                                    </div>
                                    <div class="text">
                                        <var>100%</var>
                                        <label class="text-muted">profile </label>
                                    </div>
                                    <div class="options">
                                        <a href="/editProfile" class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i> Edit profile</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                <div class="rohit" style="background-color: #f5f5f5; border: 1px solid #E4E2E2; border-radius: 5px; padding-left:20px; padding-right:20px;">
                    <h4 class="text-primary" style="padding-left:10px; color:#575757">
                    <left> Your Progress
                    </left></h4>
                    <div class="progress progress-striped active" style="padding-bottom:0px; border: 10px black; background-color:#DDDCDC">
  						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{subCatPercentage.CourseCompletedPercentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{subCatPercentage.CourseCompletedPercentage}}%;">
   							{{subCatPercentage.CourseCompletedPercentage}}%
  						</div>
					</div>
					<br>
					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="panel" style="box-shadow: -1px 1px 12px #000000;">
        <div class="container">
            <div class="page-header" style="background-color:White;">
            </div>
            <script>
                $(document).ready(function(){
                                  //alert('hi');
                                  $('[id="100a"]').addClass("list-group-item list-group-item-success");
                                  $('[id="100badge"]').removeClass()
                                  $('[id="100badge"]').addClass("timeline-badge success");
                                  $('[id="100r"]').hide()
                                  $('[id="100i"]').removeClass()
                                  $('[id="100i"]').addClass("glyphicon glyphicon-check");
                                  $('[id="100c"]').css({"border":"1px green", "box-shadow":"-1px 1px 12px green"});
                                  $('[id="100span"]').css({"background-color":"#009933"});
                                  // green
                                  $('[id="80progress"]').css({"color":"#009933"});$('[id="81progress"]').css({"color":"#009933"});$('[id="82progress"]').css({"color":"#009933"});$('[id="83progress"]').css({"color":"#009933"});$('[id="84progress"]').css({"color":"#009933"});$('[id="85progress"]').css({"color":"#009933"});$('[id="86progress"]').css({"color":"#009933"});$('[id="87progress"]').css({"color":"#009933"});$('[id="88progress"]').css({"color":"#009933"});$('[id="89progress"]').css({"color":"#009933"});
                                  $('[id="90progress"]').css({"color":"#009933"});$('[id="91progress"]').css({"color":"#009933"});$('[id="92progress"]').css({"color":"#009933"});$('[id="93progress"]').css({"color":"#009933"});$('[id="94progress"]').css({"color":"#009933"});$('[id="95progress"]').css({"color":"#009933"});$('[id="96progress"]').css({"color":"#009933"});$('[id="97progress"]').css({"color":"#009933"});$('[id="98progress"]').css({"color":"#009933"});$('[id="99progress"]').css({"color":"#009933"});$('[id="100progress"]').css({"color":"#009933"});
                                 
                                  //yellow
                                  $('[id="30progress"]').css({"color":"#8a6d3b"});$('[id="31progress"]').css({"color":"#8a6d3b"});$('[id="32progress"]').css({"color":"#8a6d3b"});$('[id="33progress"]').css({"color":"#8a6d3b"});$('[id="34progress"]').css({"color":"#8a6d3b"});$('[id="35progress"]').css({"color":"#8a6d3b"});$('[id="36progress"]').css({"color":"#8a6d3b"});$('[id="37progress"]').css({"color":"#8a6d3b"});$('[id="38progress"]').css({"color":"#8a6d3b"});$('[id="39progress"]').css({"color":"#8a6d3b"});
                                  $('[id="40progress"]').css({"color":"#8a6d3b"});$('[id="41progress"]').css({"color":"#8a6d3b"});$('[id="42progress"]').css({"color":"#8a6d3b"});$('[id="43progress"]').css({"color":"#8a6d3b"});$('[id="44progress"]').css({"color":"#8a6d3b"});$('[id="45progress"]').css({"color":"#8a6d3b"});$('[id="46progress"]').css({"color":"#8a6d3b"});$('[id="47progress"]').css({"color":"#8a6d3b"});$('[id="48progress"]').css({"color":"#8a6d3b"});$('[id="49progress"]').css({"color":"#8a6d3b"});
                                  $('[id="50progress"]').css({"color":"#8a6d3b"});$('[id="51progress"]').css({"color":"#8a6d3b"});$('[id="52progress"]').css({"color":"#8a6d3b"});$('[id="53progress"]').css({"color":"#8a6d3b"});$('[id="54progress"]').css({"color":"#8a6d3b"});$('[id="55progress"]').css({"color":"#8a6d3b"});$('[id="56progress"]').css({"color":"#8a6d3b"});$('[id="57progress"]').css({"color":"#8a6d3b"});$('[id="58progress"]').css({"color":"#8a6d3b"});$('[id="59progress"]').css({"color":"#8a6d3b"});
                                 
                                  
                                  //red
                                  $('[id="0progress"]').css({"color":"#a94442"});$('[id="1progress"]').css({"color":"#a94442"});$('[id="2progress"]').css({"color":"#a94442"});$('[id="3progress"]').css({"color":"#a94442"});$('[id="4progress"]').css({"color":"#a94442"});$('[id="5progress"]').css({"color":"#a94442"});$('[id="6progress"]').css({"color":"#a94442"});$('[id=7progress"]').css({"color":"#a94442"});$('[id="8progress"]').css({"color":"#a94442"});$('[id="9progress"]').css({"color":"#a94442"});$('[id="10progress"]').css({"color":"#a94442"});
                                  $('[id="11progress"]').css({"color":"#a94442"});$('[id="12progress"]').css({"color":"#a94442"});$('[id="13progress"]').css({"color":"#a94442"});$('[id="14progress"]').css({"color":"#a94442"});$('[id="15progress"]').css({"color":"#a94442"});$('[id="16progress"]').css({"color":"#a94442"});$('[id="17progress"]').css({"color":"#a94442"});$('[id="18progress"]').css({"color":"#a94442"});$('[id="19progress"]').css({"color":"#a94442"});$('[id="20progress"]').css({"color":"#a94442"});
                                  $('[id="21progress"]').css({"color":"#a94442"});$('[id="22progress"]').css({"color":"#a94442"});$('[id="23progress"]').css({"color":"#a94442"});$('[id="24progress"]').css({"color":"#a94442"});$('[id="25progress"]').css({"color":"#a94442"});$('[id="26progress"]').css({"color":"#a94442"});$('[id="27progress"]').css({"color":"#a94442"});$('[id="28progress"]').css({"color":"#a94442"});$('[id="29progress"]').css({"color":"#a94442"});
                                  
                                  
                                  
                                  //blue
                                  $('[id="60progress"]').css({"color":"#428bca"});$('[id="61progress"]').css({"color":"#428bca"});$('[id="62progress"]').css({"color":"#428bca"});$('[id="63progress"]').css({"color":"#428bca"});$('[id="64progress"]').css({"color":"#428bca"});$('[id="65progress"]').css({"color":"#428bca"});$('[id="66progress"]').css({"color":"#428bca"});$('[id="67progress"]').css({"color":"#428bca"});$('[id="68progress"]').css({"color":"#428bca"});$('[id="69progress"]').css({"color":"#428bca"});
                                  $('[id="70progress"]').css({"color":"#428bca"});$('[id="71progress"]').css({"color":"#428bca"});$('[id="72progress"]').css({"color":"#428bca"});$('[id="73progress"]').css({"color":"#428bca"});$('[id="74progress"]').css({"color":"#428bca"});$('[id="75progress"]').css({"color":"#428bca"});$('[id="76progress"]').css({"color":"#428bca"});$('[id="77progress"]').css({"color":"#428bca"});$('[id="78progress"]').css({"color":"#428bca"});$('[id="79progress"]').css({"color":"#428bca"});
                                  
                                  
                                  })
                </script>
        
            <ul id="timeline" class="timeline">
                
                <!-- Start of 1 timeline badge -->
                <li class="timeline">
                    <div id="{{subCatPercentage.CategoryOnePercentage}}badge" class="timeline-badge info "><i id="{{subCatPercentage.CategoryOnePercentage}}i" class="glyphicon glyphicon-edit"></i></div>
                    <div id= "{{subCatPercentage.CategoryOnePercentage}}c" class="timeline-panel" style="border:1px #5bc0de; box-shadow: -1px 1px 12px #5bc0de;">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">1. Introduction<span id="{{subCatPercentage.CategoryOnePercentage}}span" class="badge" style=" float:right;">{{subCatPercentage.CategoryOnePercentage}}%</span></h4> </a>
                        </div>
                    <div class="timeline-panel">
                        <div class="panel panel-default" >
                            <div class="panel-heading">1.1 Introduction to RDBMS </div>
                            <div class="panel-body">
                                {% load docc_tag %}
                                
                                {% for content in content%}
                                {% ifequal content.sub_category "1.1"%}
                                <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                        
                                {%endifequal%}
                                {%endfor%}
                                <button type="button" class="btn btn-info btn-sm">
                                    <a href="/courseContentSelection/?subCat=1.1" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                </button>
                              
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">1.2 Introduction to NoSQL</div>
                            <div class="panel-body">
                                {% load docc_tag %}
                                {% for content in content%}
                                {% ifequal content.sub_category "1.2"%}
                                  <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/courseContentSelection/?subCat=1.2"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                {%endifequal%}
                                {%endfor%}
                               
                               <button type="button" class="btn btn-info btn-sm">
                                   <a href="/courseContentSelection/?subCat=1.2" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                               </button>
                               
                                
                                
                            </div>
                            </div>
                        </div>
                        
                       
                    </div>
                </li>
                
                <!-- End of 1 timeline badge-->
                
                
                <!-- Start  of 2 timeline badge -->
                <li class="timeline-inverted">
                    <div id="{{subCatPercentage.CategoryTwoPercentage}}badge" class="timeline-badge info"><i id="{{subCatPercentage.CategoryTwoPercentage}}i" class="glyphicon glyphicon-edit"></i></div>
                    <div id= "{{subCatPercentage.CategoryTwoPercentage}}c"class="timeline-panel"style="border:2px solid #5bc0de; box-shadow: -1px 1px 12px #5bc0de;">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">2. Database Types<span id="{{subCatPercentage.CategoryTwoPercentage}}span" class="badge" style="float:right;">{{subCatPercentage.CategoryTwoPercentage}}%</span></h4></a>
                        </div>
                        <div class="timeline-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">2.1 Standalone</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "2.1"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    
                                    {%endifequal%}
                                    {%endfor%}
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=2.1" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">2.2 In Memory </div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "2.2"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    {%endifequal%}
                                    {%endfor%}
                                    
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=2.2" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
                
                <!-- End of 2 timeline badge-->
                
                <!-- Start of 3 timeline badge -->
                <li class="timeline">
                    <div id="{{subCatPercentage.CategoryThreePercentage}}badge" class="timeline-badge info"><i id="{{subCatPercentage.CategoryThreePercentage}}i" class="glyphicon glyphicon-edit"></i></div>
                    <div id= "{{subCatPercentage.CategoryThreePercentage}}c"class="timeline-panel"style="border:2px solid #5bc0de; box-shadow: -1px 1px 12px #5bc0de;">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">3. Database Design<span id="{{subCatPercentage.CategoryThreePercentage}}span" class="badge" style="float:right;">{{subCatPercentage.CategoryThreePercentage}}%</span></h4></a>
                        </div>
                        <div class="timeline-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">3.1 Database Modules</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "3.1"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    
                                    {%endifequal%}
                                    {%endfor%}
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=3.1" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">3.2 External and Internal Views</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "3.2"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    {%endifequal%}
                                    {%endfor%}
                                    
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=3.2" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
                
                <!-- End of 3 timeline badge-->
                
                <!-- Start of 4 timeline badge -->
                <li class="timeline-inverted">
                    <div id="{{subCatPercentage.CategoryFourPercentage}}badge" class="timeline-badge info"><i id="{{subCatPercentage.CategoryFourPercentage}}i" class="glyphicon glyphicon-edit"></i></div>
                    <div id= "{{subCatPercentage.CategoryFourPercentage}}c"class="timeline-panel"style="border:2px solid #5bc0de; box-shadow: -1px 1px 12px #5bc0de;">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">4. Performance<span id="{{subCatPercentage.CategoryFourPercentage}}span"class="badge" style="float:right;">{{subCatPercentage.CategoryFourPercentage}}%</span></h4></a>
                        </div>
                        <div class="timeline-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">4.1 Database Storage</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "4.1"%}
                                     <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    {%endifequal%}
                                    {%endfor%}
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=4.1" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">4.2 Database Security</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "4.2"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    {%endifequal%}
                                    {%endfor%}
                                    
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=4.2" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
                
                <!-- End of 4 timeline badge-->
                
                <!-- Start of 5 timeline badge -->
                <li class="timeline">
                    <div id="{{subCatPercentage.CategoryFivePercentage}}badge" class="timeline-badge info"><i id="{{subCatPercentage.CategoryFivePercentage}}i" class="glyphicon glyphicon-edit"></i></div>
                    <div id= "{{subCatPercentage.CategoryFivePercentage}}c"class="timeline-panel"style="border:2px solid #5bc0de; box-shadow: -1px 1px 12px #5bc0de;">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">5. Maintenace<span id="{{subCatPercentage.CategoryFivePercentage}}span"class="badge" style="float:right;">{{subCatPercentage.CategoryFivePercentage}}%</span></h4></a>
                        </div>
                        <div class="timeline-panel">
                            <div class="panel panel-default">
                                <div class="panel-heading">5.1 Migration</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "5.1"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    
                                    {%endifequal%}
                                    {%endfor%}
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=5.1" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                </div>
                            </div>
                            
                            <div class="panel panel-default">
                                <div class="panel-heading">5.2 Database Tuning</div>
                                <div class="panel-body">
                                    {% load docc_tag %}
                                    {% for content in content%}
                                    {% ifequal content.sub_category "5.2"%}
                                      <div class="list-group">
                                
                                <div class="col col-md-11" style="padding-right:5px;">
                                    <!-- If 100% then add class class = "list-group-item list-group-item-success" -->
                                    <a class = "list-group-item" id="{{content.contentCompletedPercentage}}a" href="/courseDisplay/?contentId={{content | mongo_id}}" >
                                        <h4 class="list-group-item-heading"><span class="glyphicon glyphicon-tag"> {{content.Name}}
                                            
                                            </span></h4>
                                        
                                    </a>
                                </div>
                                <div id="{{content.contentCompletedPercentage}}r" class="col col-md-1" style="padding-left:12px; padding-top:13px;">
                                    <a  href="/removeContentFromCart?contentId={{content|mongo_id}}"><span class="glyphicon glyphicon-remove" style="color:#A30000;"> </span></a>
                                </div>
                                  
                                </div>
                                
                                <br>
                                <br>
                                <br>
                                    {%endifequal%}
                                    {%endfor%}
                                    
                                    <button type="button" class="btn btn-info btn-sm">
                                        <a href="/courseContentSelection/?subCat=5.2" style="color:#fff"><span class="glyphicon glyphicon-plus"></span> Add content</a>
                                    </button>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </li>
                
                <!-- End of 5 timeline badge-->
                </ul>
        </div>
    </div>
    </div>
    </div>
    
    <br>

                <script>
                  $('#logout').on('click',function(){

                      window.location.href = '/logout/'  
                    });
                </script>

  </body>

</html>