<!DOCTYPE html>
<html style="" class="" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  
  <head>


  </head>
  
  <body class="">
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <div class="navbar navbar-inverse navbar-fixed-top">
            <style>
              .body{padding-top:70px}
            </style>
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-left navbar-nav">
                
                  <li id="aboutUs"> <a href="#">About</a></li>
                  <li id="contactUs"> <a href="#">Contact Us</a></li>
                </ul> 

                <ul class="nav navbar-right navbar-nav">
                <li id="dashboard"> <a href="/dashboard">Dashboard</a></li>
                  <li id="course" > <a href="/courseDisplay?contentId={{user.currentContent}}">Course</a></li>
                   <li id="courseContentSelection"> <a href="/courseContentSelection">Course Content Selection</a></li>
                 
                  <li>
                  	<div class="btn-group btn-lg navbar-right">
                  
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">My profile
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/editProfile">Edit Profile</a></li>
                    
                    <li class="divider"></li>
                    <li><a id="logout" href="/logout/">Log Out</a></li>
                  </ul>
                </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>