<!DOCTYPE html>
<html style="" class="" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>DOCC Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
   
        rel="stylesheet" type="text/css">
        
        {% load staticfiles%}
        <link href="{%static "dashboard.css"%}" rel="stylesheet" type="text/css">
  </head>
  
  <body class="" style="background-color: rgb(137, 139, 137);">
    <script>
            $(function() {
              $("#navigation").load("/profnav");
              $("#dashboard").addClass('active');
              }); 
    </script>
    <div id="navigation">
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    


    <div class = "container">
        <div class="row">
            <div class="span3">
            <div class="col-sm-4 col-md-3 user-details">
                <div class="user-image" style="top:-20px;">
                    <img src="http://en.opensuse.org/images/0/0b/Icon-user.png" height="80" width="80" class="img-circle">
                </div>
                <div class="user-info-block" style="box-shadow: -1px 1px 12px #000000; top:20px; border-radius:5px;">
                    <div class="user-heading">
                        <h4>{{user.fname}} {{user.lname}}</h4>
                        <span class="help-block">{{user.email}}</span>
                    </div>
                    <ul class="navigation">
                        <li class="active">
                            <a data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Account Information" href="#information">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                        </li>
                        <li>
                            <a  data-toggle="tab" data-toggle="tooltip" data-placement="top" title="Settings" href="#settings">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" data-placement="top" title="Upload Quiz" href="/uploadQuiz">
                                <span class="glyphicon glyphicon-tag"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tooltip" data-placement="top" title="Upload Contents" href="/upload">
                                <span class="glyphicon glyphicon-upload"></span>
    						</a>
                        </li>
                    </ul>
                    <script>
    				      $('a').tooltip({
    				     'delay': { show: 1, hide: 0  }
    				});
                    </script>
                    <div class="user-body">
                        <div class="tab-content">
                            <div id="information" class="tab-pane active">
                            	<h4>Account Information</h4>
                                <ul class="list-group">
    							  <li class="list-group-item">Name: {{user.firstname}} {{user.lastname}} </li>
    							  <li class="list-group-item"> School: {{user.organization}}</li>
    							  
    							</ul>
                            </div>
                            <br>
                            <br>
                            <div id="settings" class="tab-pane">
                                <h4>Settings</h4>
                                <a> Update your settings</a>
                            </div>
                        
                            <div id="events" class="tab-pane">
                                <h4>Events</h4>
                                <ul class="list-group">
    							  <li class="list-group-item">1. <a> Online Study Group - Mon, 03/23/2014</a> </li>
    							 </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
       
            <div class="span9">
                <div class="col-md-9">
                    <div class="well" style="background-color: #FFFFFF; box-shadow: -1px 1px 12px #000000; ">
                        <h2 class="text-primary"><center> Dashboard</center></h2>
                    </div>
                
                    <div class="panel panel-default" style="box-shadow: -1px 1px 12px #000000;">
                        <div class="panel-body">
                            <div class="row">
                    
                                 {% for content in content%}
                	
               				 <ul id="timeline" class="timeline">
                    
                    <li class="timeline" style="padding-left:10px; padding-right:10px;">
                        <div id="badge" class="timeline-badge "><i class="glyphicon glyphicon-check"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{content.Name}}</h4>
                            </div>
                            <br>
                            	<div class="col-md-12">
                            	<div class="panel panel-default">
                            			<div class="panel-heading" style="background-color: rgba(158, 33, 33, 0.32);"> Description </div>
                            			<div class="panel-body">
                            				{{content.Description}}
                            			</div>
                            		</div>
                            	</div>
								<div class="col-md-6">
                            		<div class="panel panel-default">
                            			<div class="panel-heading" style="background-color: rgba(158, 33, 33, 0.32);"> # of Ratings </div>
                            			<div class="panel-body">
                            				{{content.RatingCount}}
                            			</div>
                            		</div>
                            		<br>
                            		<div class="panel panel-default">
                            			<div class="panel-heading" style="background-color: rgba(158, 33, 33, 0.32);"> Views </div>
                            			<div class="panel-body">
                            				{{content.count}}
                            			</div>
                            		</div>
                            	</div>
                            	<div class="col-md-1"></div>
                            	<div class="col-md-6">
                            		<div class="panel panel-default">
                            			<div class="panel-heading" style="background-color: rgba(158, 33, 33, 0.32);"> Sub Category </div>
                            			<div class="panel-body">
                            				{{content.sub_category}}
                            			</div>
                            		</div>
                            		<br>
                            		<div class="panel panel-default">
                            			<div class="panel-heading" style="background-color: rgba(158, 33, 33, 0.32);"> Ratings </div>
                            			<div class="panel-body">
                            				{{content.AverageRating}}
                            			</div>
                            		</div>
                            	</div>
                           <!-- 
                            <div class="timeline-body">
                                <p>Professor: {{content.prof_username}}</p><br>
                                <p>Description: {{content.Description}} </p><br>
                                <p>Type: {{content.Type}}</p><br>
                                <p>Rating: {{content.Rating}}</p><br>
                            </div>
                            -->
                        </div>
                    </li>
                    <script>
                        
                        $('#timeline li').each(function(e,i){
                                               if(e%2!=0)
                                               {
                                               $(i).addClass('timeline-inverted');
                                               }
                                               })
                        </script>
                <!--
                    <li class="timeline-inverted">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-credit-card"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{content.Name}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Professor: {{content.prof_username}}</p><br>
                                <p>Description: {{content.Description}} </p><br>
                                <p>Type: {{content.Type}}</p><br>
                                <p>Rating: {{Content.Rating}}</p><br>
                            </div>
                        </div>
                    </li>
              -->
                               </ul>
                {%endfor%}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <br>
        
        </div>

        <br>

                    <script>
                      $('#logout').on('click',function(){

                          window.location.href = '/logout/'  
                        });
                      });
                    </script>

  </body>

</html>