<!DOCTYPE html>
<html style="" class="" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>DOCC Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    rel="stylesheet" type="text/css">
    
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.1.0/bootbox.min.js"></script>
    {% load staticfiles%}
    <link href="{%static "uploadContent.css"%}" rel="stylesheet" type="text/css">
  </head>
  
  <body class="" style="background-color: rgb(137, 139, 137);">
    <script>
            $(function() {
              $("#navigation").load("/profnav");
              $("#UploadContent").addClass('active');
              }); 
      </script>
      <div id="navigation">
      </div>

    <br>
    <br>
    <br>
    <br>
    <div class="container">
      
      <div class="well well-sm" style="background-color: #FFFFFF; box-shadow: -1px 1px 12px #000000; ">
        <h2 class="text-primary">
          <center>Upload Content To DOCC
            <br>
          </center>
        </h2>
      </div>
      <div class="col col-md-4">
        <div class="list-group"></div>
      </div>
      <div class="" <="" div="" <br="">
        <br>
        <script>
          $('#logout').on('click',function(){

                      window.location.href = '/logout/'  
                    });
                  });
        </script>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-3"></div>
        <div class="col col-md-4">
          	<div class="container">
    <div class="row">
		
		<form role="form" enctype="multipart/form-data" class="col-md-5 go-right" method='POST' action="/upload/">
		{% csrf_token %}

		<h3 class="text-primary" >Details About Content</h3>
		<br>
		<div class="form-group">
			<select id="sub_category" name="sub_category" class="form-control" style="background:white;" required>
				<option value="1.1">1.1 Intro to RDBMS</option>
				<option value="1.2">1.2 Intro to No-SQL</option>
				<optgroup label="------------------------------"></optgroup>
				<option value="2.1">2.1 Standalone</option>
				<option value="2.2">2.2 In Memory</option>
				<optgroup label="------------------------------"></optgroup>
				<option value="3.1">3.1 Database models</option>
				<option value="3.2">3.2 External and internal views</option>
				<optgroup label="------------------------------"></optgroup>
				<option value="4.1">4.1 Database storage</option>
				<option value="4.2">4.2 Database security</option>
				<optgroup label="------------------------------"></optgroup>
				<option value="5.1">5.1 Migration</option>
				<option value="5.2">5.2 Database tuning</option>
			</select>
		</div>
        <div class="form-group">
			<input id="name" name="name" type="text" class="form-control" style="background:white;" required>
			<label for="name">Content Name</label>
		</div>
		<div class="form-group">
			<textarea id="description" name="description" class="form-control" style="background:white;" required></textarea>
			<label for="description">Description</label>
		</div>
		<div class="form-group">
			<input type='file' name='fileUpload' style="background:white;" required/>
		</div>
		<div class="form-group">
			<button type="submit" id="uploadContent" class="btn btn-success">
  				<span class="glyphicon glyphicon-upload"></span>Upload
			</button>
							
		</div>	

		</form>
		
   </div>
   </div>
</div>
                   
          

        </div>
        
      </div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </body>

</html>